<div class="container my-5">
  <div class="row">
    <% practiceAreas.forEach(function(practiceArea) { %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100 shadow-sm border-0">
          <!-- <div class="card-img-top overflow-hidden">
            <img src="<%= practiceArea.imageUrl %>" class="img-fluid" alt="<%= practiceArea.alt %>" style="height: 200px; object-fit: cover;">
          </div> -->
          <div class="card-body">
            <h5 class="card-title"><%= practiceArea.name %></h5>
            <p class="card-text"><%= practiceArea.description %></p>
            <a href="/practice-area/<%= practiceArea.slug %>" class="btn btn-outline-primary btn-sm">Read More</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>